.map-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

#container-map {
  width: 100%;
  height: 100%;
  min-width: 300px;
  position: relative;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
