ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 15px;
  border-radius: 8px;
  color: black;
  background: linear-gradient(120deg, rgb(212, 178, 110), rgb(216, 182, 102));
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;

  h3 {
    margin: 0 0 5px 0;
  }

  p {
    margin: 5px 0;
    font-size: 14px;
  }
}

li:hover,
li.selected {
  background: linear-gradient(135deg, rgb(235, 203, 130), rgb(223, 187, 105));
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  border: 1px solid rgb(230, 180, 80);
  transition: all 0.3s ease;
}
