.space-detail {
  img {
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  h1 {
    margin: 0 0 20px 0;
  }

  p {
    margin: 10px 0;
    font-size: 16px;
  }
}
